/*
  SilverStripe PixelGreen Theme
  http://www.silverstripe.com
  
  adapted to SilverStripe by Wojtek Szkutnik (SilverStriped.com)
  http://silverstriped.com

  PixelGreen design by Erwin Aligam
  http://www.styleshout.com/
*/

/* top elements */
* { padding: 0; margin: 0; }

body {
	margin: 0; 	padding: 0;
	font: normal 73%/1.5em 'Open Sans', serif-serif;
	color: #555;
	background-color: #003a68;
	text-align: center;		
}

/* links */
a { background: inherit; color: #fff; text-decoration: none; }
a:hover { background: inherit; color: #006699; text-decoration: underline; }

/* start - table */
table {
	border-collapse: collapse;
	margin: 0;	
}
th strong {
	color: #fff;
}
th {
	background: #74A846;
	height: 29px;
	padding-left: 11px;
	padding-right: 11px;
	color: #fff;
	text-align: left;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}
tr {
	 height: 22px;
}
td {
	padding: 0;
	margin: 0;
}
td.first,th.first {
	border-left: 0px;
}

/* end - table */

/* form elements */
form {
	margin:10px 15px; padding: 0;
	background-color: #FAFAFA; 
}
fieldset {
	border:0px;
	padding-left:20px;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 2px;
	border:1px solid #eee;
	color:#777;
	margin:5px;
}
textarea {
	width:400px;
	padding:2px;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}

input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF url(../images/gradientbg.jpg) repeat-x; 
	padding: 2px 3px; 
	color: #333;	
	border: 1px solid #DADADA;	
}

/* search form */
.searchform {
	background-color: transparent;
	border: none;	margin: 0; padding: 0;	
}
.searchform p { margin: 10px; padding: 0; }
.searchform input.textbox { 
	width: 130px;
	color: #333; 
	height: 20px;
	padding: 2px;	
	vertical-align: top;
}
.searchform input.button { 
	font: bold 12px Arial, Sans-serif; 
	color: #333;	
	width: 60px;
	height: 26px;
	border: 1px solid #DADADA;
	padding: 3px 5px;	
	vertical-align: top;
}

/***********************
	  LAYOUT
************************/

#header-content, #content, #footer-content {
	width: 1000px;
}

/* header */
#header {
	height: 100px;
	text-align: left;	
	background-color: #003A68;
}
#header-content {	
	margin: 0 auto; padding: 0;
	position: relative;
}
#header-content h1#logo {
	position: absolute;	
	font: bold 45px 'Trebuchet MS', Sans-serif;
	letter-spacing: -2px; 
	color: #FFF;
	margin: 0; padding: 0;		
	
	/* change the values of left and top to adjust the position of the logo */
	top: 0; left: 0px;
}
#header-content h1#logo a {
	text-decoration: none;
	color: #FFF;
}
#header-content #slogan {
	position: absolute;	
	font: bold 12px 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #FFF;	
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 55px; left: 40px;
}

/* header menu */
#header-content ul.navtext {
	position: absolute;
	right: -5px; top: 60px;
	color: #FFF;
	list-style: none;
	margin: 0; padding: 0;		
}
#header-content li.navtext {
	display: inline;
}
#header-content li.navtext span {
	float: left;
	display: block;
	padding: 3px 0 3px 80px;	
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
}
#header-content li.navtext a:hover {
	color: #87cefa;
	text-decoration: none;
}

#header-content li.navtext span a.current  {
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	font-weight: bolder;
}
#header-content img{
	width: 200px;
	height: 100px;
}

/* header photo */
.headerphoto {
	margin: 0 auto;
	width: 770px;
	height: 200px;
	padding: 15px 10px 10px 10px; 
	background: #FFF url(../images/headerphoto.jpg) no-repeat center;	
}

/* content */
#content-wrap {
	clear: both;
	float: left;
	width: 100%;
	background-color: #fff;
}
#content {
	text-align: left;	
	padding: 0;
	margin: 0 auto;	
}

/* sidebar */
#sidebar {
	float: right;
	width: 30%;
	margin: 0 0 10px 0; padding: 0;	
}	
#sidebar h1 {
	padding: 10px 0px 5px 10px;
	margin: 0;	
	font: bold 1.3em 'Trebuchet MS', Tahoma, Sans-serif;
}
.sidebox {
	background: #F5F5F5;
	border: 1px solid #EFEDED;
	margin-bottom: 10px;
}

/* sidebar menu */
#sidebar ul.sidemenu {
	list-style:none;
	margin: 10px 0 15px 0;
	padding: 0;
	background: #F2F2F2;			
}
#sidebar ul.sidemenu li {
	padding: 0px 10px;
}
#sidebar ul.sidemenu a {
	display:block;
	font-weight:normal;
	color: #333;
	height: 1.5em;	
	padding:.3em 0 .3em 15px;
	line-height: 1.5em;
	border-bottom: 1px dashed #D4D4D4;
	text-decoration:none;
}
#sidebar ul.sidemenu a.top{	
	border-top: 1px dashed #D4D4D4;
}
#sidebar ul.sidemenu a:hover {
	padding: .3em 0 .3em 10px;
	border-left: 5px solid  #65944A;
	color: #65944A;		
}
#sidebar ul.sidemenu a.current,
#sidebar ul.sidemenu a.section {
	padding: .3em 0 .3em 10px;
	border-left: 5px solid  #65944A;
	color: #65944A;		
}

/* main */
#main {
	float: left;
	width: 100%;	
	margin: 0 0 10px 0; padding: 0;	
}
#main h1 {
	padding: 10px 0px 0px 5px;
	margin: 0 0 0 10px;
	border-bottom: 1px solid #f2f2f2; 	
	font: normal 1.5em 'Trebuchet MS', Tahoma, Sans-serif;
}
#main ul li {
	list-style-image: url(../images/bullet.gif);
}

.tabstrip li {
	list-style-image: none !important;
}

.post {
	margin: 0; padding: 0;
	background: #FFF url(../images/gradientbg.jpg) repeat-x;
	border: 1px solid #EFEDED;
}
.post .post-footer {
	background-color: #FAFAFA;
	border: 1px solid #f2f2f2;
	padding: 5px; margin-top: 20px;
	font-size: 95%;
}
.post .post-footer .date {
	background: url('../images/clock.gif') no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post .post-footer .comments {
	background: url('../images/comment.gif') no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post .post-footer .readmore {
	background: url('../images/page.gif') no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* footer */
#footer {
	clear: both;
	margin: 0; padding: 0;
	font-size: 0.85em;
	text-align: left;	
	height: 125px;
	color: #fff;
}

#footer h1, #footer p {	margin-left: 0; }

#footer-content {	
	margin: 0 auto;
	padding-left: 15px;
}
#footer-content a {
		
}
#footer-content a:hover {
	text-decoration: underline;
	color: #fff;
}
#footer-content ul {
	list-style: none;
	margin: 0; padding: 0;
}
#footer-content .col {
	width: 32%;
	padding: 0 5px 30px 0;	
}

p.footer_title{
	font-weight: bold;
}
.first_col.float-left {
    width: 28%;
}
.middle_col.float-left {
    margin-top: 40px;
    width: 20%;
}
.third_col.float-right {
    margin-top: 40px;
}
/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray  { color: #BFBFBF; }

p, h1,h2,h3 {
	margin: 10px 15px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;		
}

img {
	background: #FAFAFA;
}

/* Comments
******************************************/

#CommentHolder ul {
	list-style: none;
	margin: 20px 0;
}

#PageComments li {
	list-style-image:none !important;
	margin: 5px 0;
	padding: 1px;
	width: 88%;
}
#PageComments li.odd {
	background: #ecf7e2 url(../images/commentBg.png) no-repeat 1% 10%;
	padding-left: 40px;
	padding-right: 10px;
	border-bottom:1px dotted #72A545;
border-top:1px dotted #72A545;
}

#PageComments li.even {
	background: #fff url(../images/commentBgAlt.png) no-repeat 99% 10%;
	padding-right: 40px;
	padding-left: 10px;
}

#PageComments li.odd p.info {
	color: #72a545;
}

.actionLinks li a {
	padding-right: 3px;
	font-size: 10px;
}
.actionLinks li {
   display: inline;
   border-right: 1px solid;
}
   .actionLinks li.last {
      border-right: none;
   }

.commentrss {
	background: transparent url(../images/feed-icon-14x14.png) no-repeat !important;
	padding-left: 20px;
	font-size: 1.1em;
	line-height: 1.6em;
}
#PageCommentsPagination p {
	text-align: center;
	font-size: 1.2em;
}
#PageComments p {
	font-size: 1em;
}
#PageComments p.info {
	color: #999;
	margin: 0px;
	padding: 0;
	line-height: 1em;
	font-size: 0.9em;
}

/* Search Results 
*****************************************/
ul#SearchResults {
	margin: 10px 0;
}
ul#SearchResults li {
	list-style: none;
	margin: 5px 0;
	font-size: 1em;
}
/*  language selector
******************************************/
#lang {
    background-color: #00284C;
    height: 30px;
    position: absolute;
    right: -5px;
    top: 0;
    width: 70px;
    font-size: 9px;
}
#lang ul{
	list-style: none;
	padding: 8px 4px 4px 10px;
	width: 70px;
	height: 22px;
	margin: 0;
}
#lang img{
	width: 22px;
	height: 14px;
	
}
/*  hero images
*****************************************/
.home_hero_image img {
    width: 100%;
    height: 400px;
}
.hero_image, .home_hero_image {
    position: relative;
    background-color: #fff;
}
.hero_image img {
    height: 230px;
    width: 100%;
}
.pagetitle {
    bottom: 0;
    font-size: 48px;
    left: 0;
    margin-bottom: 38px;
    position: absolute;
    right: 0;
    color: #fff;
}
/* Homepage content
****************************************/
.PageType_HomePage .typography{
	width: 50%;
	height: auto;
	display: inline-block;
}
#latest_projects{
	width: 48%;
	height: auto;
	display: inline-block;
}
#home_welcome{
	color: #0C3C64;
    font-size: 20px;
    font-weight: bolder;
    margin: 30px 0 10px 25px;
}

/* Contact Us Page
****************************************/
.team_contact {
    margin: 40px 1px;
}
.team_contact p {
    text-align: center;
    font-size: 20px;
}
.team_contact p.big_contact_label {
    font-weight: bolder;
}
.staff_contact_container {
    border-top: 1px solid #c1cdcd;
    padding-top: 25px;
}
.staff_contact_container div {
    display: inline-block;
    width: 33%;
    margin-bottom: 20px;
    min-height: 90px;
}
.contact_name {
    font-weight: bold;
}
.small_contact_label {
    width: 50px;
}